

  <div class="container" id="home-container">
    <div class="jumbotron text-center text-black">
      <h1 class="display-4 btn-warning mt-4">Clinika!</h1>
        <hr class="my-1">
        <h1>For Patient:</h1>
        <%= link_to "Patient Sign Up!", new_user_registration_path, class: "btn btn-success btn-lg" %>
        <%= link_to "Patient Log In!", new_user_session_path, class: "btn btn-success btn-lg" %>
        <h1>For Doctor:</h1>
      
        <%= link_to "Doctor Log In!", login_path, class: "btn btn-success btn-lg" %>
  </div>
 </div>
