<div id="page-content">

<div class="container" id="home-container">
 <div class="jumbotron text-center text-black">
    <h1 class="display-4 btn-warning mt-4">Clinika!</h1>
      <hr class="my-1">
      <h1>For Patient:</h1>
     <%= button_to "Patient Sign Out!", destroy_user_session_path, method: :delete, class: "btn btn-success btn-lg" %>
  
  
 </div>
</div>

</div>